--
-- PostgreSQL database dump
--

\restrict dGWkwPnPfcctwTnVIdNqJDK06U4f6XZ8UT6gjn99V1shbdf8l2AWsbCE17aL3XV

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgboss; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA pgboss;


ALTER SCHEMA pgboss OWNER TO postgres;

--
-- Name: job_state; Type: TYPE; Schema: pgboss; Owner: postgres
--

CREATE TYPE pgboss.job_state AS ENUM (
    'created',
    'retry',
    'active',
    'completed',
    'cancelled',
    'failed'
);


ALTER TYPE pgboss.job_state OWNER TO postgres;

--
-- Name: DeliveryNoteStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DeliveryNoteStatus" AS ENUM (
    'DRAFT',
    'DISPATCHED',
    'DELIVERED',
    'CANCELLED'
);


ALTER TYPE public."DeliveryNoteStatus" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'INFO',
    'SUCCESS',
    'WARNING',
    'ALARM'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PARTIALLY_PAID',
    'PAID'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: QuoteStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuoteStatus" AS ENUM (
    'DRAFT',
    'SENT',
    'APPROVED',
    'REJECTED',
    'CONVERTED'
);


ALTER TYPE public."QuoteStatus" OWNER TO postgres;

--
-- Name: RateRegion; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RateRegion" AS ENUM (
    'CHINA',
    'OTHER'
);


ALTER TYPE public."RateRegion" OWNER TO postgres;

--
-- Name: ServiceType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ServiceType" AS ENUM (
    'DOOR_TO_DOOR',
    'FCL_20',
    'FCL_40',
    'FCL_40HC',
    'LCL',
    'AIR',
    'WAREHOUSE',
    'CUSTOMS',
    'OTHER'
);


ALTER TYPE public."ServiceType" OWNER TO postgres;

--
-- Name: ShipmentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ShipmentStatus" AS ENUM (
    'PENDING',
    'AT_ORIGIN_WAREHOUSE',
    'ON_VESSEL',
    'AT_DESTINATION_PORT',
    'CUSTOMS_CLEARANCE',
    'DELIVERED'
);


ALTER TYPE public."ShipmentStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'SALES'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: create_queue(text, jsonb); Type: FUNCTION; Schema: pgboss; Owner: postgres
--

CREATE FUNCTION pgboss.create_queue(queue_name text, options jsonb) RETURNS void
    LANGUAGE plpgsql
    AS $_$
    DECLARE
      tablename varchar := CASE WHEN options->>'partition' = 'true'
                            THEN 'j' || encode(sha224(queue_name::bytea), 'hex')
                            ELSE 'job_common'
                            END;
      queue_created_on timestamptz;
    BEGIN

      WITH q as (
        INSERT INTO pgboss.queue (
          name,
          policy,
          retry_limit,
          retry_delay,
          retry_backoff,
          retry_delay_max,
          expire_seconds,
          retention_seconds,
          deletion_seconds,
          warning_queued,
          dead_letter,
          partition,
          table_name,
          heartbeat_seconds
        )
        VALUES (
          queue_name,
          options->>'policy',
          COALESCE((options->>'retryLimit')::int, 2),
          COALESCE((options->>'retryDelay')::int, 0),
          COALESCE((options->>'retryBackoff')::bool, false),
          (options->>'retryDelayMax')::int,
          COALESCE((options->>'expireInSeconds')::int, 900),
          COALESCE((options->>'retentionSeconds')::int, 1209600),
          COALESCE((options->>'deleteAfterSeconds')::int, 604800),
          COALESCE((options->>'warningQueueSize')::int, 0),
          options->>'deadLetter',
          COALESCE((options->>'partition')::bool, false),
          tablename,
          (options->>'heartbeatSeconds')::int
        )
        ON CONFLICT DO NOTHING
        RETURNING created_on
      )
      SELECT created_on into queue_created_on from q;

      IF queue_created_on IS NULL OR options->>'partition' IS DISTINCT FROM 'true' THEN
        RETURN;
      END IF;

      EXECUTE format('CREATE TABLE pgboss.%I (LIKE pgboss.job INCLUDING DEFAULTS)', tablename);

      EXECUTE pgboss.job_table_format($cmd$ALTER TABLE pgboss.job ADD PRIMARY KEY (name, id)$cmd$, tablename);
      EXECUTE pgboss.job_table_format($cmd$ALTER TABLE pgboss.job ADD CONSTRAINT q_fkey FOREIGN KEY (name) REFERENCES pgboss.queue (name) ON DELETE RESTRICT DEFERRABLE INITIALLY DEFERRED$cmd$, tablename);
      EXECUTE pgboss.job_table_format($cmd$ALTER TABLE pgboss.job ADD CONSTRAINT dlq_fkey FOREIGN KEY (dead_letter) REFERENCES pgboss.queue (name) ON DELETE RESTRICT DEFERRABLE INITIALLY DEFERRED$cmd$, tablename);

      EXECUTE pgboss.job_table_format($cmd$CREATE INDEX job_i5 ON pgboss.job (name, start_after) INCLUDE (priority, created_on, id) WHERE state < 'active'$cmd$, tablename);
      EXECUTE pgboss.job_table_format($cmd$CREATE UNIQUE INDEX job_i4 ON pgboss.job (name, singleton_on, COALESCE(singleton_key, '')) WHERE state <> 'cancelled' AND singleton_on IS NOT NULL$cmd$, tablename);
      EXECUTE pgboss.job_table_format($cmd$CREATE INDEX job_i7 ON pgboss.job (name, group_id) WHERE state = 'active' AND group_id IS NOT NULL$cmd$, tablename);

      IF options->>'policy' = 'short' THEN
        EXECUTE pgboss.job_table_format($cmd$CREATE UNIQUE INDEX job_i1 ON pgboss.job (name, COALESCE(singleton_key, '')) WHERE state = 'created' AND policy = 'short'$cmd$, tablename);
      ELSIF options->>'policy' = 'singleton' THEN
        EXECUTE pgboss.job_table_format($cmd$CREATE UNIQUE INDEX job_i2 ON pgboss.job (name, COALESCE(singleton_key, '')) WHERE state = 'active' AND policy = 'singleton'$cmd$, tablename);
      ELSIF options->>'policy' = 'stately' THEN
        EXECUTE pgboss.job_table_format($cmd$CREATE UNIQUE INDEX job_i3 ON pgboss.job (name, state, COALESCE(singleton_key, '')) WHERE state <= 'active' AND policy = 'stately'$cmd$, tablename);
      ELSIF options->>'policy' = 'exclusive' THEN
        EXECUTE pgboss.job_table_format($cmd$CREATE UNIQUE INDEX job_i6 ON pgboss.job (name, COALESCE(singleton_key, '')) WHERE state <= 'active' AND policy = 'exclusive'$cmd$, tablename);
      ELSIF options->>'policy' = 'key_strict_fifo' THEN
        EXECUTE pgboss.job_table_format($cmd$CREATE UNIQUE INDEX job_i8 ON pgboss.job (name, singleton_key) WHERE state IN ('active', 'retry', 'failed') AND policy = 'key_strict_fifo'$cmd$, tablename);
        EXECUTE pgboss.job_table_format($cmd$ALTER TABLE pgboss.job ADD CONSTRAINT job_key_strict_fifo_singleton_key_check CHECK (NOT (policy = 'key_strict_fifo' AND singleton_key IS NULL))$cmd$, tablename);
      END IF;

      EXECUTE format('ALTER TABLE pgboss.%I ADD CONSTRAINT cjc CHECK (name=%L)', tablename, queue_name);
      EXECUTE format('ALTER TABLE pgboss.job ATTACH PARTITION pgboss.%I FOR VALUES IN (%L)', tablename, queue_name);
    END;
    $_$;


ALTER FUNCTION pgboss.create_queue(queue_name text, options jsonb) OWNER TO postgres;

--
-- Name: delete_queue(text); Type: FUNCTION; Schema: pgboss; Owner: postgres
--

CREATE FUNCTION pgboss.delete_queue(queue_name text) RETURNS void
    LANGUAGE plpgsql
    AS $$
    DECLARE
      v_table varchar;
      v_partition bool;
    BEGIN
      SELECT table_name, partition
      FROM pgboss.queue
      WHERE name = queue_name
      INTO v_table, v_partition;

      IF v_partition THEN
        EXECUTE format('DROP TABLE IF EXISTS pgboss.%I', v_table);
      ELSE
        EXECUTE format('DELETE FROM pgboss.%I WHERE name = %L', v_table, queue_name);
      END IF;

      DELETE FROM pgboss.queue WHERE name = queue_name;
    END;
    $$;


ALTER FUNCTION pgboss.delete_queue(queue_name text) OWNER TO postgres;

--
-- Name: job_table_format(text, text); Type: FUNCTION; Schema: pgboss; Owner: postgres
--

CREATE FUNCTION pgboss.job_table_format(command text, table_name text) RETURNS text
    LANGUAGE sql IMMUTABLE
    AS $_$
      SELECT format(
        replace(
          replace(command, '.job', '.%1$I'),
          'job_i', '%1$s_i'
        ),
        table_name
      );
    $_$;


ALTER FUNCTION pgboss.job_table_format(command text, table_name text) OWNER TO postgres;

--
-- Name: job_table_run(text, text, text); Type: FUNCTION; Schema: pgboss; Owner: postgres
--

CREATE FUNCTION pgboss.job_table_run(command text, tbl_name text DEFAULT NULL::text, queue_name text DEFAULT NULL::text) RETURNS void
    LANGUAGE plpgsql
    AS $$
    DECLARE
      tbl RECORD;
    BEGIN
      IF queue_name IS NOT NULL THEN
        SELECT table_name INTO tbl_name FROM pgboss.queue WHERE name = queue_name;
      END IF;

      IF tbl_name IS NOT NULL THEN
        EXECUTE pgboss.job_table_format(command, tbl_name);
        RETURN;
      END IF;

      EXECUTE pgboss.job_table_format(command, 'job_common');

      FOR tbl IN SELECT table_name FROM pgboss.queue WHERE partition = true
      LOOP
        EXECUTE pgboss.job_table_format(command, tbl.table_name);
      END LOOP;
    END;
    $$;


ALTER FUNCTION pgboss.job_table_run(command text, tbl_name text, queue_name text) OWNER TO postgres;

--
-- Name: job_table_run_async(text, integer, text, text, text); Type: FUNCTION; Schema: pgboss; Owner: postgres
--

CREATE FUNCTION pgboss.job_table_run_async(command_name text, version integer, command text, tbl_name text DEFAULT NULL::text, queue_name text DEFAULT NULL::text) RETURNS void
    LANGUAGE plpgsql
    AS $$
    BEGIN
      IF queue_name IS NOT NULL THEN
        SELECT table_name INTO tbl_name FROM pgboss.queue WHERE name = queue_name;
      END IF;

      IF tbl_name IS NOT NULL THEN
        INSERT INTO pgboss.bam (name, version, status, queue, table_name, command)
        VALUES (
          command_name,
          version,
          'pending',
          queue_name,
          tbl_name,
          pgboss.job_table_format(command, tbl_name)
        );
        RETURN;
      END IF;

      INSERT INTO pgboss.bam (name, version, status, queue, table_name, command)
      SELECT
        command_name,
        version,
        'pending',
        NULL,
        'job_common',
        pgboss.job_table_format(command, 'job_common')
      UNION ALL
      SELECT
        command_name,
        version,
        'pending',
        queue.name,
        queue.table_name,
        pgboss.job_table_format(command, queue.table_name)
      FROM pgboss.queue
      WHERE partition = true;
    END;
    $$;


ALTER FUNCTION pgboss.job_table_run_async(command_name text, version integer, command text, tbl_name text, queue_name text) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bam; Type: TABLE; Schema: pgboss; Owner: postgres
--

CREATE TABLE pgboss.bam (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    version integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    queue text,
    table_name text NOT NULL,
    command text NOT NULL,
    error text,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    started_on timestamp with time zone,
    completed_on timestamp with time zone
);


ALTER TABLE pgboss.bam OWNER TO postgres;

--
-- Name: job; Type: TABLE; Schema: pgboss; Owner: postgres
--

CREATE TABLE pgboss.job (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    priority integer DEFAULT 0 NOT NULL,
    data jsonb,
    state pgboss.job_state DEFAULT 'created'::pgboss.job_state NOT NULL,
    retry_limit integer DEFAULT 2 NOT NULL,
    retry_count integer DEFAULT 0 NOT NULL,
    retry_delay integer DEFAULT 0 NOT NULL,
    retry_backoff boolean DEFAULT false NOT NULL,
    retry_delay_max integer,
    expire_seconds integer DEFAULT 900 NOT NULL,
    deletion_seconds integer DEFAULT 604800 NOT NULL,
    singleton_key text,
    singleton_on timestamp without time zone,
    group_id text,
    group_tier text,
    start_after timestamp with time zone DEFAULT now() NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    started_on timestamp with time zone,
    completed_on timestamp with time zone,
    keep_until timestamp with time zone DEFAULT (now() + '336:00:00'::interval) NOT NULL,
    output jsonb,
    dead_letter text,
    policy text,
    heartbeat_on timestamp with time zone,
    heartbeat_seconds integer
)
PARTITION BY LIST (name);


ALTER TABLE pgboss.job OWNER TO postgres;

--
-- Name: job_common; Type: TABLE; Schema: pgboss; Owner: postgres
--

CREATE TABLE pgboss.job_common (
    id uuid DEFAULT gen_random_uuid() CONSTRAINT job_id_not_null NOT NULL,
    name text CONSTRAINT job_name_not_null NOT NULL,
    priority integer DEFAULT 0 CONSTRAINT job_priority_not_null NOT NULL,
    data jsonb,
    state pgboss.job_state DEFAULT 'created'::pgboss.job_state CONSTRAINT job_state_not_null NOT NULL,
    retry_limit integer DEFAULT 2 CONSTRAINT job_retry_limit_not_null NOT NULL,
    retry_count integer DEFAULT 0 CONSTRAINT job_retry_count_not_null NOT NULL,
    retry_delay integer DEFAULT 0 CONSTRAINT job_retry_delay_not_null NOT NULL,
    retry_backoff boolean DEFAULT false CONSTRAINT job_retry_backoff_not_null NOT NULL,
    retry_delay_max integer,
    expire_seconds integer DEFAULT 900 CONSTRAINT job_expire_seconds_not_null NOT NULL,
    deletion_seconds integer DEFAULT 604800 CONSTRAINT job_deletion_seconds_not_null NOT NULL,
    singleton_key text,
    singleton_on timestamp without time zone,
    group_id text,
    group_tier text,
    start_after timestamp with time zone DEFAULT now() CONSTRAINT job_start_after_not_null NOT NULL,
    created_on timestamp with time zone DEFAULT now() CONSTRAINT job_created_on_not_null NOT NULL,
    started_on timestamp with time zone,
    completed_on timestamp with time zone,
    keep_until timestamp with time zone DEFAULT (now() + '336:00:00'::interval) CONSTRAINT job_keep_until_not_null NOT NULL,
    output jsonb,
    dead_letter text,
    policy text,
    heartbeat_on timestamp with time zone,
    heartbeat_seconds integer,
    CONSTRAINT job_key_strict_fifo_singleton_key_check CHECK ((NOT ((policy = 'key_strict_fifo'::text) AND (singleton_key IS NULL))))
);


ALTER TABLE pgboss.job_common OWNER TO postgres;

--
-- Name: queue; Type: TABLE; Schema: pgboss; Owner: postgres
--

CREATE TABLE pgboss.queue (
    name text NOT NULL,
    policy text NOT NULL,
    retry_limit integer NOT NULL,
    retry_delay integer NOT NULL,
    retry_backoff boolean NOT NULL,
    retry_delay_max integer,
    expire_seconds integer NOT NULL,
    retention_seconds integer NOT NULL,
    deletion_seconds integer NOT NULL,
    dead_letter text,
    partition boolean NOT NULL,
    table_name text NOT NULL,
    deferred_count integer DEFAULT 0 NOT NULL,
    queued_count integer DEFAULT 0 NOT NULL,
    warning_queued integer DEFAULT 0 NOT NULL,
    active_count integer DEFAULT 0 NOT NULL,
    total_count integer DEFAULT 0 NOT NULL,
    heartbeat_seconds integer,
    singletons_active text[],
    monitor_on timestamp with time zone,
    maintain_on timestamp with time zone,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    updated_on timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT queue_check CHECK ((dead_letter IS DISTINCT FROM name))
);


ALTER TABLE pgboss.queue OWNER TO postgres;

--
-- Name: schedule; Type: TABLE; Schema: pgboss; Owner: postgres
--

CREATE TABLE pgboss.schedule (
    name text NOT NULL,
    key text DEFAULT ''::text NOT NULL,
    cron text NOT NULL,
    timezone text,
    data jsonb,
    options jsonb,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    updated_on timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE pgboss.schedule OWNER TO postgres;

--
-- Name: subscription; Type: TABLE; Schema: pgboss; Owner: postgres
--

CREATE TABLE pgboss.subscription (
    event text NOT NULL,
    name text NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    updated_on timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE pgboss.subscription OWNER TO postgres;

--
-- Name: version; Type: TABLE; Schema: pgboss; Owner: postgres
--

CREATE TABLE pgboss.version (
    version integer NOT NULL,
    cron_on timestamp with time zone,
    bam_on timestamp with time zone
);


ALTER TABLE pgboss.version OWNER TO postgres;

--
-- Name: warning; Type: TABLE; Schema: pgboss; Owner: postgres
--

CREATE TABLE pgboss.warning (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type text NOT NULL,
    message text NOT NULL,
    data jsonb,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE pgboss.warning OWNER TO postgres;

--
-- Name: AirLine; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AirLine" (
    id text NOT NULL,
    name text NOT NULL,
    code text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AirLine" OWNER TO postgres;

--
-- Name: Ally; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Ally" (
    id text NOT NULL,
    "internalCode" text NOT NULL,
    name text NOT NULL,
    "rifOrId" text,
    "contactInfo" text,
    address text,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Ally" OWNER TO postgres;

--
-- Name: Client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Client" (
    id text NOT NULL,
    "internalCode" text NOT NULL,
    name text NOT NULL,
    "rifOrId" text NOT NULL,
    email text NOT NULL,
    phone text NOT NULL,
    address text NOT NULL,
    "deliveryAddress" text NOT NULL,
    "contactPerson" text NOT NULL,
    "referencePoint" text NOT NULL,
    "clientDetails" text,
    "deactivationNote" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "updatedById" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Client" OWNER TO postgres;

--
-- Name: CompanySettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CompanySettings" (
    id text NOT NULL,
    "companyName" text DEFAULT 'Import Services'::text NOT NULL,
    rif text,
    "logoUrl" text,
    "primaryColor" text DEFAULT '#0000FF'::text NOT NULL,
    "secondaryColor" text DEFAULT '#FFA500'::text NOT NULL,
    "headerText" text,
    "footerText" text,
    "quoteBgUrl" text,
    "noticeBgUrl" text,
    "deliveryNoteBgUrl" text,
    "receiptBgUrl" text,
    "paymentInfo" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CompanySettings" OWNER TO postgres;

--
-- Name: D2DItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."D2DItem" (
    id text NOT NULL,
    description text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."D2DItem" OWNER TO postgres;

--
-- Name: DeliveryNote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DeliveryNote" (
    id text NOT NULL,
    number integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."DeliveryNoteStatus" DEFAULT 'DRAFT'::public."DeliveryNoteStatus" NOT NULL,
    "warehouseNumber" text NOT NULL,
    "clientId" text NOT NULL,
    "quoteId" text,
    "deliveredTo" text,
    "deliveryAddress" text,
    notes text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DeliveryNote" OWNER TO postgres;

--
-- Name: DeliveryNoteItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DeliveryNoteItem" (
    id text NOT NULL,
    "deliveryNoteId" text NOT NULL,
    "d2dItemId" text,
    description text NOT NULL,
    quantity numeric(10,2) NOT NULL,
    weight numeric(10,2),
    cbm numeric(10,3)
);


ALTER TABLE public."DeliveryNoteItem" OWNER TO postgres;

--
-- Name: DeliveryNote_number_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."DeliveryNote_number_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."DeliveryNote_number_seq" OWNER TO postgres;

--
-- Name: DeliveryNote_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."DeliveryNote_number_seq" OWNED BY public."DeliveryNote".number;


--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    type public."NotificationType" DEFAULT 'INFO'::public."NotificationType" NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "targetUserId" text,
    "targetRoles" text[] DEFAULT ARRAY[]::text[],
    "entityType" text,
    "entityId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Payable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payable" (
    id text NOT NULL,
    number integer NOT NULL,
    "allyId" text,
    "svcProviderId" text,
    description text NOT NULL,
    amount numeric(10,2) NOT NULL,
    "paidAmount" numeric(10,2) DEFAULT 0 NOT NULL,
    balance numeric(10,2) NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "relatedOperationId" text,
    "dueDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payable" OWNER TO postgres;

--
-- Name: PayableTransaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PayableTransaction" (
    id text NOT NULL,
    "payableId" text NOT NULL,
    amount numeric(10,2) NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    method text NOT NULL,
    reference text,
    notes text
);


ALTER TABLE public."PayableTransaction" OWNER TO postgres;

--
-- Name: Payable_number_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Payable_number_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Payable_number_seq" OWNER TO postgres;

--
-- Name: Payable_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Payable_number_seq" OWNED BY public."Payable".number;


--
-- Name: PaymentNotice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentNotice" (
    id text NOT NULL,
    number integer NOT NULL,
    "issueDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "quoteId" text,
    "clientId" text NOT NULL,
    "totalAmount" numeric(10,2) NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PaymentNotice" OWNER TO postgres;

--
-- Name: PaymentNoticeItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentNoticeItem" (
    id text NOT NULL,
    "paymentNoticeId" text NOT NULL,
    "serviceId" text,
    "allyId" text,
    "zoneId" text,
    "shippingLineId" text,
    "airLineId" text,
    description text NOT NULL,
    quantity numeric(10,2) NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL,
    "totalPrice" numeric(10,2) NOT NULL
);


ALTER TABLE public."PaymentNoticeItem" OWNER TO postgres;

--
-- Name: PaymentNotice_number_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."PaymentNotice_number_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PaymentNotice_number_seq" OWNER TO postgres;

--
-- Name: PaymentNotice_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."PaymentNotice_number_seq" OWNED BY public."PaymentNotice".number;


--
-- Name: PaymentReceipt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentReceipt" (
    id text NOT NULL,
    "receiptNumber" integer NOT NULL,
    "paymentTransactionId" text NOT NULL,
    "clientId" text NOT NULL,
    amount numeric(10,2) NOT NULL,
    "paymentMethod" text NOT NULL,
    reference text,
    "issuedBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PaymentReceipt" OWNER TO postgres;

--
-- Name: PaymentReceipt_receiptNumber_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."PaymentReceipt_receiptNumber_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PaymentReceipt_receiptNumber_seq" OWNER TO postgres;

--
-- Name: PaymentReceipt_receiptNumber_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."PaymentReceipt_receiptNumber_seq" OWNED BY public."PaymentReceipt"."receiptNumber";


--
-- Name: PaymentTransaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentTransaction" (
    id text NOT NULL,
    "receivableId" text NOT NULL,
    amount numeric(10,2) NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    method text NOT NULL,
    reference text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PaymentTransaction" OWNER TO postgres;

--
-- Name: Port; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Port" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Port" OWNER TO postgres;

--
-- Name: Quote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Quote" (
    id text NOT NULL,
    number integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validUntil" timestamp(3) without time zone,
    status public."QuoteStatus" DEFAULT 'DRAFT'::public."QuoteStatus" NOT NULL,
    "clientId" text NOT NULL,
    "userId" text NOT NULL,
    "totalAmount" numeric(10,2) NOT NULL,
    notes text,
    "showNotesToClient" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Quote" OWNER TO postgres;

--
-- Name: QuoteItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."QuoteItem" (
    id text NOT NULL,
    "quoteId" text NOT NULL,
    "serviceId" text NOT NULL,
    quantity numeric(10,2) NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL,
    "totalPrice" numeric(10,2) NOT NULL,
    description text,
    "allyId" text,
    "zoneId" text,
    "originPort" text,
    "destinationPort" text,
    "shippingLineId" text,
    "airLineId" text
);


ALTER TABLE public."QuoteItem" OWNER TO postgres;

--
-- Name: Quote_number_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Quote_number_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Quote_number_seq" OWNER TO postgres;

--
-- Name: Quote_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Quote_number_seq" OWNED BY public."Quote".number;


--
-- Name: Rate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rate" (
    id text NOT NULL,
    region public."RateRegion" DEFAULT 'CHINA'::public."RateRegion" NOT NULL,
    "allyId" text NOT NULL,
    "originPortId" text NOT NULL,
    "destinationPortId" text NOT NULL,
    cost20ft numeric(10,2) NOT NULL,
    cost40ft numeric(10,2) NOT NULL,
    "bankFee" numeric(10,2) NOT NULL,
    "profitYaho" numeric(10,2) NOT NULL,
    "profitIS" numeric(10,2) NOT NULL,
    "sale20HC" numeric(10,2) NOT NULL,
    "sale40HC" numeric(10,2) NOT NULL,
    "shippingLineId" text,
    "freeDays" integer DEFAULT 21 NOT NULL,
    "validUntil" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Rate" OWNER TO postgres;

--
-- Name: Receivable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Receivable" (
    id text NOT NULL,
    number integer NOT NULL,
    "paymentNoticeId" text,
    "clientId" text NOT NULL,
    "manualNotes" text,
    "totalAmount" numeric(10,2) NOT NULL,
    "paidAmount" numeric(10,2) DEFAULT 0 NOT NULL,
    balance numeric(10,2) NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Receivable" OWNER TO postgres;

--
-- Name: Receivable_number_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Receivable_number_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Receivable_number_seq" OWNER TO postgres;

--
-- Name: Receivable_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Receivable_number_seq" OWNED BY public."Receivable".number;


--
-- Name: Service; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Service" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    type public."ServiceType" NOT NULL,
    notes text,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Service" OWNER TO postgres;

--
-- Name: ServiceRate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ServiceRate" (
    id text NOT NULL,
    "allyId" text NOT NULL,
    "serviceId" text NOT NULL,
    "zoneId" text,
    "costPrice" numeric(10,2) NOT NULL,
    "salePrice" numeric(10,2) NOT NULL,
    "originPort" text,
    "destinationPort" text,
    "shippingLine" text,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validUntil" timestamp(3) without time zone,
    currency text DEFAULT 'USD'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ServiceRate" OWNER TO postgres;

--
-- Name: Shipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Shipment" (
    id text NOT NULL,
    number integer NOT NULL,
    "paymentNoticeId" text,
    type text NOT NULL,
    "blNumber" text,
    "whNumber" text,
    "bookingNumber" text,
    "shippingLine" text,
    "shippingLineId" text,
    status public."ShipmentStatus" DEFAULT 'PENDING'::public."ShipmentStatus" NOT NULL,
    "currentLocation" text,
    "clientId" text,
    "clientName" text,
    "vendedorId" text,
    "airLineId" text,
    "containerType" text,
    "containerQty" integer,
    "originPort" text,
    "destPort" text,
    etd timestamp(3) without time zone,
    eta timestamp(3) without time zone,
    weight numeric(10,2),
    quantity integer,
    cbm numeric(10,2),
    "updatedById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Shipment" OWNER TO postgres;

--
-- Name: Shipment_number_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Shipment_number_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Shipment_number_seq" OWNER TO postgres;

--
-- Name: Shipment_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Shipment_number_seq" OWNED BY public."Shipment".number;


--
-- Name: ShippingLine; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ShippingLine" (
    id text NOT NULL,
    name text NOT NULL,
    code text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ShippingLine" OWNER TO postgres;

--
-- Name: SvcProvider; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SvcProvider" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SvcProvider" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    role public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: Zone; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Zone" (
    id text NOT NULL,
    "internalCode" text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Zone" OWNER TO postgres;

--
-- Name: _UserClients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_UserClients" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_UserClients" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: job_common; Type: TABLE ATTACH; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.job ATTACH PARTITION pgboss.job_common DEFAULT;


--
-- Name: DeliveryNote number; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryNote" ALTER COLUMN number SET DEFAULT nextval('public."DeliveryNote_number_seq"'::regclass);


--
-- Name: Payable number; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payable" ALTER COLUMN number SET DEFAULT nextval('public."Payable_number_seq"'::regclass);


--
-- Name: PaymentNotice number; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNotice" ALTER COLUMN number SET DEFAULT nextval('public."PaymentNotice_number_seq"'::regclass);


--
-- Name: PaymentReceipt receiptNumber; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentReceipt" ALTER COLUMN "receiptNumber" SET DEFAULT nextval('public."PaymentReceipt_receiptNumber_seq"'::regclass);


--
-- Name: Quote number; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote" ALTER COLUMN number SET DEFAULT nextval('public."Quote_number_seq"'::regclass);


--
-- Name: Receivable number; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Receivable" ALTER COLUMN number SET DEFAULT nextval('public."Receivable_number_seq"'::regclass);


--
-- Name: Shipment number; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipment" ALTER COLUMN number SET DEFAULT nextval('public."Shipment_number_seq"'::regclass);


--
-- Data for Name: bam; Type: TABLE DATA; Schema: pgboss; Owner: postgres
--

COPY pgboss.bam (id, name, version, status, queue, table_name, command, error, created_on, started_on, completed_on) FROM stdin;
\.


--
-- Data for Name: job_common; Type: TABLE DATA; Schema: pgboss; Owner: postgres
--

COPY pgboss.job_common (id, name, priority, data, state, retry_limit, retry_count, retry_delay, retry_backoff, retry_delay_max, expire_seconds, deletion_seconds, singleton_key, singleton_on, group_id, group_tier, start_after, created_on, started_on, completed_on, keep_until, output, dead_letter, policy, heartbeat_on, heartbeat_seconds) FROM stdin;
\.


--
-- Data for Name: queue; Type: TABLE DATA; Schema: pgboss; Owner: postgres
--



--
-- Data for Name: schedule; Type: TABLE DATA; Schema: pgboss; Owner: postgres
--

COPY pgboss.schedule (name, key, cron, timezone, data, options, created_on, updated_on) FROM stdin;
check-expirations		0 6 * * *	UTC	\N	{}	2026-04-20 16:31:51.756715-04	2026-04-22 09:59:01.676009-04
\.


--
-- Data for Name: subscription; Type: TABLE DATA; Schema: pgboss; Owner: postgres
--

COPY pgboss.subscription (event, name, created_on, updated_on) FROM stdin;
\.


--
-- Data for Name: version; Type: TABLE DATA; Schema: pgboss; Owner: postgres
--

COPY pgboss.version (version, cron_on, bam_on) FROM stdin;
30	2026-04-22 10:55:32.350591-04	2026-04-22 10:55:01.841529-04
\.


--
-- Data for Name: warning; Type: TABLE DATA; Schema: pgboss; Owner: postgres
--

COPY pgboss.warning (id, type, message, data, created_on) FROM stdin;
\.


--
-- Data for Name: AirLine; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AirLine" (id, name, code, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Ally; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Ally" (id, "internalCode", name, "rifOrId", "contactInfo", address, "isActive", "deletedAt", "createdAt", "updatedAt") FROM stdin;
6465f4a0-a45b-429b-9846-5ee0313f0d5f	ALL001	Aliado 1	J505467342	CoNTACTO 1 / 04243478019	\N	t	\N	2026-04-20 20:47:39.154	2026-04-20 20:47:39.154
\.


--
-- Data for Name: Client; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Client" (id, "internalCode", name, "rifOrId", email, phone, address, "deliveryAddress", "contactPerson", "referencePoint", "clientDetails", "deactivationNote", "isActive", "deletedAt", "updatedById", "createdAt", "updatedAt") FROM stdin;
3c5eca09-98ac-4ad8-a853-a0ff6ff8368b	CLI-0001	Cliente 1	J505467348	a@gmail.com	+584243478019	Algo...		Neil Rangel			\N	t	\N	48229b03-0e95-4498-bd3f-71368d3a0fe9	2026-04-20 20:47:05.925	2026-04-20 20:47:05.925
\.


--
-- Data for Name: CompanySettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CompanySettings" (id, "companyName", rif, "logoUrl", "primaryColor", "secondaryColor", "headerText", "footerText", "quoteBgUrl", "noticeBgUrl", "deliveryNoteBgUrl", "receiptBgUrl", "paymentInfo", "updatedAt") FROM stdin;
\.


--
-- Data for Name: D2DItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."D2DItem" (id, description, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: DeliveryNote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DeliveryNote" (id, number, date, status, "warehouseNumber", "clientId", "quoteId", "deliveredTo", "deliveryAddress", notes, "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: DeliveryNoteItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DeliveryNoteItem" (id, "deliveryNoteId", "d2dItemId", description, quantity, weight, cbm) FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Payable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Payable" (id, number, "allyId", "svcProviderId", description, amount, "paidAmount", balance, status, "relatedOperationId", "dueDate", "createdAt", "updatedAt") FROM stdin;
a8a9f984-d431-47fd-9e64-7f0ff1e94aef	1	\N	6da8ae2f-786b-4f19-b22f-c0eb1260b66b	Algo...	250.00	200.00	50.00	PARTIALLY_PAID	\N	2026-04-22 00:00:00	2026-04-20 20:51:48.438	2026-04-21 16:45:29.863
f8865947-dd19-4a37-8dcc-431dbbb2cdcf	2	6465f4a0-a45b-429b-9846-5ee0313f0d5f	\N	Algo mas...	150.00	20.00	130.00	PARTIALLY_PAID	\N	2026-04-29 00:00:00	2026-04-20 20:51:59.907	2026-04-21 17:16:46.925
\.


--
-- Data for Name: PayableTransaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PayableTransaction" (id, "payableId", amount, date, method, reference, notes) FROM stdin;
6daf8511-ff3b-4fb1-8ca2-48701b8b7f50	f8865947-dd19-4a37-8dcc-431dbbb2cdcf	15.00	2026-04-21 16:00:00	P_MOBILE	4567	\N
c83076b9-3247-4a84-9a61-eb5face26138	a8a9f984-d431-47fd-9e64-7f0ff1e94aef	200.00	2026-04-19 16:00:00	ZELLE	4255	Recordar el proximo abono del mes
f3be1ffa-dca8-4334-b01d-014de3674698	f8865947-dd19-4a37-8dcc-431dbbb2cdcf	5.00	2026-04-21 16:00:00	CASH_USD	\N	\N
\.


--
-- Data for Name: PaymentNotice; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PaymentNoticeItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PaymentReceipt; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PaymentTransaction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Port; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Port" (id, code, name, "isActive", "createdAt", "updatedAt") FROM stdin;
cb63aadf-24a0-4fca-95fa-efea42bc7e57	PC	Puerto Cabello	t	2026-04-20 20:48:59.432	2026-04-20 20:48:59.432
f065d54f-74d6-4d90-ba8a-240517ce3790	LAG	La guaira	t	2026-04-20 20:49:06.099	2026-04-20 20:49:06.099
\.


--
-- Data for Name: Quote; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: QuoteItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Rate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Rate" (id, region, "allyId", "originPortId", "destinationPortId", cost20ft, cost40ft, "bankFee", "profitYaho", "profitIS", "sale20HC", "sale40HC", "shippingLineId", "freeDays", "validUntil", "isActive", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Receivable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Service; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Service" (id, code, name, type, notes, "isActive") FROM stdin;
85c1a1d3-385e-464a-874d-a4f5d7e4fbbf	20HC	Contenedor 20HC	FCL_20		t
656cac56-89fd-4f75-9f5c-7d5aa36aa04e	40HC	Contenedor 40 HC	FCL_40HC		t
3472f308-9a09-4afb-9025-f932906bd9e7	AIR	Aereo	AIR		t
e54a2605-4948-4b03-8fbe-f2b37fb842b7	ALM	Almacenaje	WAREHOUSE		t
\.


--
-- Data for Name: ServiceRate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ServiceRate" (id, "allyId", "serviceId", "zoneId", "costPrice", "salePrice", "originPort", "destinationPort", "shippingLine", "validFrom", "validUntil", currency, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Shipment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Shipment" (id, number, "paymentNoticeId", type, "blNumber", "whNumber", "bookingNumber", "shippingLine", "shippingLineId", status, "currentLocation", "clientId", "clientName", "vendedorId", "airLineId", "containerType", "containerQty", "originPort", "destPort", etd, eta, weight, quantity, cbm, "updatedById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ShippingLine; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ShippingLine" (id, name, code, "isActive", "createdAt", "updatedAt") FROM stdin;
e571397f-48f3-49d7-8a9e-f824dc3defad	Mediterranean Shipping Company	MSC	t	2026-04-20 20:49:19.24	2026-04-20 20:49:19.24
\.


--
-- Data for Name: SvcProvider; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SvcProvider" (id, name, "createdAt", "updatedAt") FROM stdin;
6da8ae2f-786b-4f19-b22f-c0eb1260b66b	NetUno	2026-04-20 20:51:38.297	2026-04-20 20:51:38.297
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, password, name, role, "isActive", "createdAt", "updatedAt") FROM stdin;
48229b03-0e95-4498-bd3f-71368d3a0fe9	admin@importservicesca.com	$2b$10$vois7fPaN8g54BwZX64Lmeh2af163iaZTdmjxifKZ7aci7mQK2DWu	Administrador Local	ADMIN	t	2026-04-20 16:45:02.393	2026-04-20 16:45:02.393
\.


--
-- Data for Name: Zone; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Zone" (id, "internalCode", name, description, "isActive") FROM stdin;
6caff717-78e6-4d35-9053-df219313d8c0	ZON-0001	Caracas		t
1183881b-ab3a-4a7f-88c0-325a54650101	ZON-0002	Puerto Cabello		t
\.


--
-- Data for Name: _UserClients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."_UserClients" ("A", "B") FROM stdin;
3c5eca09-98ac-4ad8-a853-a0ff6ff8368b	48229b03-0e95-4498-bd3f-71368d3a0fe9
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
7f94ea4f-8fa4-4a8f-934d-74d91c37b75f	008b4e1a4b7a10ecde5fd9dac51bb7c9a710929bc7ecddc3944e464cfc4d38a4	2026-04-22 12:08:54.77169-04	20240422_manual_patch		\N	2026-04-22 12:08:54.77169-04	0
\.


--
-- Name: DeliveryNote_number_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."DeliveryNote_number_seq"', 1, false);


--
-- Name: Payable_number_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Payable_number_seq"', 2, true);


--
-- Name: PaymentNotice_number_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."PaymentNotice_number_seq"', 4, true);


--
-- Name: PaymentReceipt_receiptNumber_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."PaymentReceipt_receiptNumber_seq"', 16, true);


--
-- Name: Quote_number_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Quote_number_seq"', 2, true);


--
-- Name: Receivable_number_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Receivable_number_seq"', 4, true);


--
-- Name: Shipment_number_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Shipment_number_seq"', 1, false);


--
-- Name: bam bam_pkey; Type: CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.bam
    ADD CONSTRAINT bam_pkey PRIMARY KEY (id);


--
-- Name: job job_pkey; Type: CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.job
    ADD CONSTRAINT job_pkey PRIMARY KEY (name, id);


--
-- Name: job_common job_common_pkey; Type: CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.job_common
    ADD CONSTRAINT job_common_pkey PRIMARY KEY (name, id);


--
-- Name: queue queue_pkey; Type: CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.queue
    ADD CONSTRAINT queue_pkey PRIMARY KEY (name);


--
-- Name: schedule schedule_pkey; Type: CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.schedule
    ADD CONSTRAINT schedule_pkey PRIMARY KEY (name, key);


--
-- Name: subscription subscription_pkey; Type: CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.subscription
    ADD CONSTRAINT subscription_pkey PRIMARY KEY (event, name);


--
-- Name: version version_pkey; Type: CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.version
    ADD CONSTRAINT version_pkey PRIMARY KEY (version);


--
-- Name: warning warning_pkey; Type: CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.warning
    ADD CONSTRAINT warning_pkey PRIMARY KEY (id);


--
-- Name: AirLine AirLine_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AirLine"
    ADD CONSTRAINT "AirLine_pkey" PRIMARY KEY (id);


--
-- Name: Ally Ally_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ally"
    ADD CONSTRAINT "Ally_pkey" PRIMARY KEY (id);


--
-- Name: Client Client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_pkey" PRIMARY KEY (id);


--
-- Name: CompanySettings CompanySettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CompanySettings"
    ADD CONSTRAINT "CompanySettings_pkey" PRIMARY KEY (id);


--
-- Name: D2DItem D2DItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."D2DItem"
    ADD CONSTRAINT "D2DItem_pkey" PRIMARY KEY (id);


--
-- Name: DeliveryNoteItem DeliveryNoteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryNoteItem"
    ADD CONSTRAINT "DeliveryNoteItem_pkey" PRIMARY KEY (id);


--
-- Name: DeliveryNote DeliveryNote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryNote"
    ADD CONSTRAINT "DeliveryNote_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: PayableTransaction PayableTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayableTransaction"
    ADD CONSTRAINT "PayableTransaction_pkey" PRIMARY KEY (id);


--
-- Name: Payable Payable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payable"
    ADD CONSTRAINT "Payable_pkey" PRIMARY KEY (id);


--
-- Name: PaymentNoticeItem PaymentNoticeItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNoticeItem"
    ADD CONSTRAINT "PaymentNoticeItem_pkey" PRIMARY KEY (id);


--
-- Name: PaymentNotice PaymentNotice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNotice"
    ADD CONSTRAINT "PaymentNotice_pkey" PRIMARY KEY (id);


--
-- Name: PaymentReceipt PaymentReceipt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentReceipt"
    ADD CONSTRAINT "PaymentReceipt_pkey" PRIMARY KEY (id);


--
-- Name: PaymentTransaction PaymentTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentTransaction"
    ADD CONSTRAINT "PaymentTransaction_pkey" PRIMARY KEY (id);


--
-- Name: Port Port_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Port"
    ADD CONSTRAINT "Port_pkey" PRIMARY KEY (id);


--
-- Name: QuoteItem QuoteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_pkey" PRIMARY KEY (id);


--
-- Name: Quote Quote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_pkey" PRIMARY KEY (id);


--
-- Name: Rate Rate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rate"
    ADD CONSTRAINT "Rate_pkey" PRIMARY KEY (id);


--
-- Name: Receivable Receivable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Receivable"
    ADD CONSTRAINT "Receivable_pkey" PRIMARY KEY (id);


--
-- Name: ServiceRate ServiceRate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ServiceRate"
    ADD CONSTRAINT "ServiceRate_pkey" PRIMARY KEY (id);


--
-- Name: Service Service_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_pkey" PRIMARY KEY (id);


--
-- Name: Shipment Shipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_pkey" PRIMARY KEY (id);


--
-- Name: ShippingLine ShippingLine_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ShippingLine"
    ADD CONSTRAINT "ShippingLine_pkey" PRIMARY KEY (id);


--
-- Name: SvcProvider SvcProvider_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SvcProvider"
    ADD CONSTRAINT "SvcProvider_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Zone Zone_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Zone"
    ADD CONSTRAINT "Zone_pkey" PRIMARY KEY (id);


--
-- Name: _UserClients _UserClients_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_UserClients"
    ADD CONSTRAINT "_UserClients_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: job_common_i1; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE UNIQUE INDEX job_common_i1 ON pgboss.job_common USING btree (name, COALESCE(singleton_key, ''::text)) WHERE ((state = 'created'::pgboss.job_state) AND (policy = 'short'::text));


--
-- Name: job_common_i2; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE UNIQUE INDEX job_common_i2 ON pgboss.job_common USING btree (name, COALESCE(singleton_key, ''::text)) WHERE ((state = 'active'::pgboss.job_state) AND (policy = 'singleton'::text));


--
-- Name: job_common_i3; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE UNIQUE INDEX job_common_i3 ON pgboss.job_common USING btree (name, state, COALESCE(singleton_key, ''::text)) WHERE ((state <= 'active'::pgboss.job_state) AND (policy = 'stately'::text));


--
-- Name: job_common_i4; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE UNIQUE INDEX job_common_i4 ON pgboss.job_common USING btree (name, singleton_on, COALESCE(singleton_key, ''::text)) WHERE ((state <> 'cancelled'::pgboss.job_state) AND (singleton_on IS NOT NULL));


--
-- Name: job_common_i5; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE INDEX job_common_i5 ON pgboss.job_common USING btree (name, start_after) INCLUDE (priority, created_on, id) WHERE (state < 'active'::pgboss.job_state);


--
-- Name: job_common_i6; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE UNIQUE INDEX job_common_i6 ON pgboss.job_common USING btree (name, COALESCE(singleton_key, ''::text)) WHERE ((state <= 'active'::pgboss.job_state) AND (policy = 'exclusive'::text));


--
-- Name: job_common_i7; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE INDEX job_common_i7 ON pgboss.job_common USING btree (name, group_id) WHERE ((state = 'active'::pgboss.job_state) AND (group_id IS NOT NULL));


--
-- Name: job_common_i8; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE UNIQUE INDEX job_common_i8 ON pgboss.job_common USING btree (name, singleton_key) WHERE ((state = ANY (ARRAY['active'::pgboss.job_state, 'retry'::pgboss.job_state, 'failed'::pgboss.job_state])) AND (policy = 'key_strict_fifo'::text));


--
-- Name: warning_i1; Type: INDEX; Schema: pgboss; Owner: postgres
--

CREATE INDEX warning_i1 ON pgboss.warning USING btree (created_on DESC);


--
-- Name: AirLine_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "AirLine_name_key" ON public."AirLine" USING btree (name);


--
-- Name: Ally_internalCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Ally_internalCode_key" ON public."Ally" USING btree ("internalCode");


--
-- Name: Client_internalCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Client_internalCode_key" ON public."Client" USING btree ("internalCode");


--
-- Name: Client_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Client_phone_key" ON public."Client" USING btree (phone);


--
-- Name: Client_rifOrId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Client_rifOrId_key" ON public."Client" USING btree ("rifOrId");


--
-- Name: D2DItem_description_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "D2DItem_description_key" ON public."D2DItem" USING btree (description);


--
-- Name: DeliveryNote_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DeliveryNote_number_key" ON public."DeliveryNote" USING btree (number);


--
-- Name: Payable_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Payable_number_key" ON public."Payable" USING btree (number);


--
-- Name: PaymentNotice_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PaymentNotice_number_key" ON public."PaymentNotice" USING btree (number);


--
-- Name: PaymentNotice_quoteId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PaymentNotice_quoteId_key" ON public."PaymentNotice" USING btree ("quoteId");


--
-- Name: PaymentReceipt_paymentTransactionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PaymentReceipt_paymentTransactionId_key" ON public."PaymentReceipt" USING btree ("paymentTransactionId");


--
-- Name: PaymentReceipt_receiptNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PaymentReceipt_receiptNumber_key" ON public."PaymentReceipt" USING btree ("receiptNumber");


--
-- Name: Port_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Port_code_key" ON public."Port" USING btree (code);


--
-- Name: Quote_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Quote_number_key" ON public."Quote" USING btree (number);


--
-- Name: Rate_allyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Rate_allyId_idx" ON public."Rate" USING btree ("allyId");


--
-- Name: Rate_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Rate_isActive_idx" ON public."Rate" USING btree ("isActive");


--
-- Name: Rate_originPortId_destinationPortId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Rate_originPortId_destinationPortId_idx" ON public."Rate" USING btree ("originPortId", "destinationPortId");


--
-- Name: Rate_region_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Rate_region_deletedAt_idx" ON public."Rate" USING btree (region, "deletedAt");


--
-- Name: Rate_validUntil_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Rate_validUntil_idx" ON public."Rate" USING btree ("validUntil");


--
-- Name: Receivable_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Receivable_number_key" ON public."Receivable" USING btree (number);


--
-- Name: Receivable_paymentNoticeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Receivable_paymentNoticeId_key" ON public."Receivable" USING btree ("paymentNoticeId");


--
-- Name: ServiceRate_allyId_serviceId_zoneId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ServiceRate_allyId_serviceId_zoneId_key" ON public."ServiceRate" USING btree ("allyId", "serviceId", "zoneId");


--
-- Name: Service_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Service_code_key" ON public."Service" USING btree (code);


--
-- Name: Shipment_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Shipment_number_key" ON public."Shipment" USING btree (number);


--
-- Name: Shipment_paymentNoticeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Shipment_paymentNoticeId_key" ON public."Shipment" USING btree ("paymentNoticeId");


--
-- Name: ShippingLine_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ShippingLine_name_key" ON public."ShippingLine" USING btree (name);


--
-- Name: SvcProvider_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SvcProvider_name_key" ON public."SvcProvider" USING btree (name);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Zone_internalCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Zone_internalCode_key" ON public."Zone" USING btree ("internalCode");


--
-- Name: _UserClients_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_UserClients_B_index" ON public."_UserClients" USING btree ("B");


--
-- Name: job_common_pkey; Type: INDEX ATTACH; Schema: pgboss; Owner: postgres
--

ALTER INDEX pgboss.job_pkey ATTACH PARTITION pgboss.job_common_pkey;


--
-- Name: job_common dlq_fkey; Type: FK CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.job_common
    ADD CONSTRAINT dlq_fkey FOREIGN KEY (dead_letter) REFERENCES pgboss.queue(name) ON DELETE RESTRICT DEFERRABLE INITIALLY DEFERRED;


--
-- Name: job_common q_fkey; Type: FK CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.job_common
    ADD CONSTRAINT q_fkey FOREIGN KEY (name) REFERENCES pgboss.queue(name) ON DELETE RESTRICT DEFERRABLE INITIALLY DEFERRED;


--
-- Name: queue queue_dead_letter_fkey; Type: FK CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.queue
    ADD CONSTRAINT queue_dead_letter_fkey FOREIGN KEY (dead_letter) REFERENCES pgboss.queue(name);


--
-- Name: schedule schedule_name_fkey; Type: FK CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.schedule
    ADD CONSTRAINT schedule_name_fkey FOREIGN KEY (name) REFERENCES pgboss.queue(name) ON DELETE CASCADE;


--
-- Name: subscription subscription_name_fkey; Type: FK CONSTRAINT; Schema: pgboss; Owner: postgres
--

ALTER TABLE ONLY pgboss.subscription
    ADD CONSTRAINT subscription_name_fkey FOREIGN KEY (name) REFERENCES pgboss.queue(name) ON DELETE CASCADE;


--
-- Name: Client Client_updatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DeliveryNoteItem DeliveryNoteItem_d2dItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryNoteItem"
    ADD CONSTRAINT "DeliveryNoteItem_d2dItemId_fkey" FOREIGN KEY ("d2dItemId") REFERENCES public."D2DItem"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DeliveryNoteItem DeliveryNoteItem_deliveryNoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryNoteItem"
    ADD CONSTRAINT "DeliveryNoteItem_deliveryNoteId_fkey" FOREIGN KEY ("deliveryNoteId") REFERENCES public."DeliveryNote"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DeliveryNote DeliveryNote_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryNote"
    ADD CONSTRAINT "DeliveryNote_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DeliveryNote DeliveryNote_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryNote"
    ADD CONSTRAINT "DeliveryNote_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_targetUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_targetUserId_fkey" FOREIGN KEY ("targetUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PayableTransaction PayableTransaction_payableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayableTransaction"
    ADD CONSTRAINT "PayableTransaction_payableId_fkey" FOREIGN KEY ("payableId") REFERENCES public."Payable"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payable Payable_allyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payable"
    ADD CONSTRAINT "Payable_allyId_fkey" FOREIGN KEY ("allyId") REFERENCES public."Ally"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payable Payable_svcProviderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payable"
    ADD CONSTRAINT "Payable_svcProviderId_fkey" FOREIGN KEY ("svcProviderId") REFERENCES public."SvcProvider"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaymentNoticeItem PaymentNoticeItem_airLineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNoticeItem"
    ADD CONSTRAINT "PaymentNoticeItem_airLineId_fkey" FOREIGN KEY ("airLineId") REFERENCES public."AirLine"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaymentNoticeItem PaymentNoticeItem_allyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNoticeItem"
    ADD CONSTRAINT "PaymentNoticeItem_allyId_fkey" FOREIGN KEY ("allyId") REFERENCES public."Ally"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaymentNoticeItem PaymentNoticeItem_paymentNoticeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNoticeItem"
    ADD CONSTRAINT "PaymentNoticeItem_paymentNoticeId_fkey" FOREIGN KEY ("paymentNoticeId") REFERENCES public."PaymentNotice"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PaymentNoticeItem PaymentNoticeItem_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNoticeItem"
    ADD CONSTRAINT "PaymentNoticeItem_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaymentNoticeItem PaymentNoticeItem_shippingLineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNoticeItem"
    ADD CONSTRAINT "PaymentNoticeItem_shippingLineId_fkey" FOREIGN KEY ("shippingLineId") REFERENCES public."ShippingLine"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaymentNoticeItem PaymentNoticeItem_zoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNoticeItem"
    ADD CONSTRAINT "PaymentNoticeItem_zoneId_fkey" FOREIGN KEY ("zoneId") REFERENCES public."Zone"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaymentNotice PaymentNotice_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNotice"
    ADD CONSTRAINT "PaymentNotice_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PaymentNotice PaymentNotice_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentNotice"
    ADD CONSTRAINT "PaymentNotice_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaymentReceipt PaymentReceipt_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentReceipt"
    ADD CONSTRAINT "PaymentReceipt_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PaymentReceipt PaymentReceipt_paymentTransactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentReceipt"
    ADD CONSTRAINT "PaymentReceipt_paymentTransactionId_fkey" FOREIGN KEY ("paymentTransactionId") REFERENCES public."PaymentTransaction"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PaymentTransaction PaymentTransaction_receivableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentTransaction"
    ADD CONSTRAINT "PaymentTransaction_receivableId_fkey" FOREIGN KEY ("receivableId") REFERENCES public."Receivable"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: QuoteItem QuoteItem_airLineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_airLineId_fkey" FOREIGN KEY ("airLineId") REFERENCES public."AirLine"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: QuoteItem QuoteItem_allyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_allyId_fkey" FOREIGN KEY ("allyId") REFERENCES public."Ally"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: QuoteItem QuoteItem_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: QuoteItem QuoteItem_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: QuoteItem QuoteItem_shippingLineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_shippingLineId_fkey" FOREIGN KEY ("shippingLineId") REFERENCES public."ShippingLine"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: QuoteItem QuoteItem_zoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_zoneId_fkey" FOREIGN KEY ("zoneId") REFERENCES public."Zone"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Quote Quote_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quote Quote_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Rate Rate_allyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rate"
    ADD CONSTRAINT "Rate_allyId_fkey" FOREIGN KEY ("allyId") REFERENCES public."Ally"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Rate Rate_destinationPortId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rate"
    ADD CONSTRAINT "Rate_destinationPortId_fkey" FOREIGN KEY ("destinationPortId") REFERENCES public."Port"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Rate Rate_originPortId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rate"
    ADD CONSTRAINT "Rate_originPortId_fkey" FOREIGN KEY ("originPortId") REFERENCES public."Port"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Rate Rate_shippingLineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rate"
    ADD CONSTRAINT "Rate_shippingLineId_fkey" FOREIGN KEY ("shippingLineId") REFERENCES public."ShippingLine"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Receivable Receivable_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Receivable"
    ADD CONSTRAINT "Receivable_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Receivable Receivable_paymentNoticeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Receivable"
    ADD CONSTRAINT "Receivable_paymentNoticeId_fkey" FOREIGN KEY ("paymentNoticeId") REFERENCES public."PaymentNotice"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ServiceRate ServiceRate_allyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ServiceRate"
    ADD CONSTRAINT "ServiceRate_allyId_fkey" FOREIGN KEY ("allyId") REFERENCES public."Ally"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ServiceRate ServiceRate_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ServiceRate"
    ADD CONSTRAINT "ServiceRate_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ServiceRate ServiceRate_zoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ServiceRate"
    ADD CONSTRAINT "ServiceRate_zoneId_fkey" FOREIGN KEY ("zoneId") REFERENCES public."Zone"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Shipment Shipment_airLineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_airLineId_fkey" FOREIGN KEY ("airLineId") REFERENCES public."AirLine"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Shipment Shipment_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Shipment Shipment_paymentNoticeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_paymentNoticeId_fkey" FOREIGN KEY ("paymentNoticeId") REFERENCES public."PaymentNotice"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Shipment Shipment_shippingLineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_shippingLineId_fkey" FOREIGN KEY ("shippingLineId") REFERENCES public."ShippingLine"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Shipment Shipment_updatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Shipment Shipment_vendedorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_vendedorId_fkey" FOREIGN KEY ("vendedorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: _UserClients _UserClients_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_UserClients"
    ADD CONSTRAINT "_UserClients_A_fkey" FOREIGN KEY ("A") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _UserClients _UserClients_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_UserClients"
    ADD CONSTRAINT "_UserClients_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dGWkwPnPfcctwTnVIdNqJDK06U4f6XZ8UT6gjn99V1shbdf8l2AWsbCE17aL3XV

